<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="test_robot">
    <xacro:include filename="$(find canopen_tests)/urdf/eirabot_controller/diffbot.materials.xacro"/>
    <xacro:include filename="$(find canopen_tests)/urdf/eirabot_controller/diffbot_description.urdf.xacro"/>
    <xacro:include filename="$(find canopen_tests)/urdf/eirabot_controller/robot_controller.ros2_control.xacro"/>

    <xacro:diffbot
        prefix=""
        />

    <xacro:robot_control_control
        name="test_robot"
        prefix=""
        bus_config="$(find canopen_tests)/config/eirabot_control/bus.yml"
        master_config="$(find canopen_tests)/config/eirabot_control/master.dcf"
        can_interface_name="can0"
        master_bin="" />
</robot>
